@tailwind base;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #939393;
}

@tailwind components;
@tailwind utilities;
